
.Rhistory

testfiles/1D2_summary/sequencing_summary.txt

testfiles/1D2a/sequencing_summary.txt

testfiles/2D/sequencing_summary.txt

testfiles/short_run/flowcell_overview.png

testfiles/1D2/channel_summary.png

testfiles/1D2/channel_summary.png

testfiles/1D2/length_histogram.png

testfiles/1D2/q_histogram.png

testfiles/1D2/yield_by_length.png

testfiles/directRNA/channel_summary.png

testfiles/1D2/yield_by_length.png

testfiles/1D2/channel_summary.png
