
.Rhistory

testfiles/1D2_summary/sequencing_summary.txt

testfiles/1D2a/sequencing_summary.txt

testfiles/2D/sequencing_summary.txt

testfiles/short_run/flowcell_overview.png

testfiles/1D2/channel_summary.png

testfiles/1D2/channel_summary.png

testfiles/1D2/length_histogram.png

testfiles/1D2/q_histogram.png

testfiles/1D2/yield_by_length.png

testfiles/directRNA/channel_summary.png

testfiles/1D2/yield_by_length.png

testfiles/1D2/channel_summary.png
testfiles/1D2/flowcell_overview.png
testfiles/1D2/flowcell_overview.png
testfiles/1D2/gb_per_channel_overview.png
testfiles/1D2/length_by_hour.png
testfiles/1D2/length_vs_q.png
testfiles/1D2/q_by_hour.png
testfiles/1D2/reads_per_hour.png
testfiles/1D2/yield_over_time.png
testfiles/directRNA/flowcell_overview.png
testfiles/directRNA/gb_per_channel_overview.png
testfiles/directRNA/length_by_hour.png
testfiles/directRNA/length_histogram.png
testfiles/directRNA/length_vs_q.png
testfiles/directRNA/q_by_hour.png
testfiles/directRNA/q_histogram.png
testfiles/directRNA/reads_per_hour.png
testfiles/directRNA/yield_by_length.png
testfiles/directRNA/yield_over_time.png
testfiles/nested_multiple/combinedQC/combined_length_histogram.png
testfiles/nested_multiple/combinedQC/combined_q_histogram.png
testfiles/nested_multiple/combinedQC/combined_yield_by_length.png
testfiles/nested_multiple/combinedQC/length_by_hour.png
testfiles/nested_multiple/combinedQC/length_distributions.png
testfiles/nested_multiple/combinedQC/q_by_hour.png
testfiles/nested_multiple/combinedQC/q_distributions.png
testfiles/nested_multiple/combinedQC/yield_by_length.png
testfiles/nested_multiple/combinedQC/yield_over_time.png
testfiles/nested_multiple/secondA/thirdA/channel_summary.png
testfiles/nested_multiple/secondA/thirdA/flowcell_overview.png
testfiles/nested_multiple/secondA/thirdA/gb_per_channel_overview.png
testfiles/nested_multiple/secondA/thirdA/length_by_hour.png
testfiles/nested_multiple/secondA/thirdA/length_histogram.png
testfiles/nested_multiple/secondA/thirdA/length_vs_q.png
testfiles/nested_multiple/secondA/thirdA/q_by_hour.png
testfiles/nested_multiple/secondA/thirdA/q_histogram.png
testfiles/nested_multiple/secondA/thirdA/reads_per_hour.png
testfiles/nested_multiple/secondA/thirdA/yield_by_length.png
testfiles/nested_multiple/secondA/thirdA/yield_over_time.png
testfiles/nested_multiple/secondB/channel_summary.png
testfiles/nested_multiple/secondB/flowcell_overview.png
testfiles/nested_multiple/secondB/gb_per_channel_overview.png
testfiles/nested_multiple/secondB/length_by_hour.png
testfiles/nested_multiple/secondB/length_histogram.png
testfiles/nested_multiple/secondB/length_vs_q.png
testfiles/nested_multiple/secondB/q_by_hour.png
testfiles/nested_multiple/secondB/q_histogram.png
testfiles/nested_multiple/secondB/reads_per_hour.png
testfiles/nested_multiple/secondB/yield_by_length.png
testfiles/nested_multiple/secondB/yield_over_time.png
testfiles/nested_multiple/secondC/thirdC/channel_summary.png
testfiles/nested_multiple/secondC/thirdC/flowcell_overview.png
testfiles/nested_multiple/secondC/thirdC/gb_per_channel_overview.png
testfiles/nested_multiple/secondC/thirdC/length_by_hour.png
testfiles/nested_multiple/secondC/thirdC/length_histogram.png
testfiles/nested_multiple/secondC/thirdC/length_vs_q.png
testfiles/nested_multiple/secondC/thirdC/q_by_hour.png
testfiles/nested_multiple/secondC/thirdC/q_histogram.png
testfiles/nested_multiple/secondC/thirdC/reads_per_hour.png
testfiles/nested_multiple/secondC/thirdC/yield_by_length.png
testfiles/nested_multiple/secondC/thirdC/yield_over_time.png
testfiles/nested_multiple_testoutput/thirdA/channel_summary.png
testfiles/nested_multiple_testoutput/thirdA/flowcell_overview.png
testfiles/nested_multiple_testoutput/thirdA/gb_per_channel_overview.png
testfiles/nested_multiple_testoutput/thirdA/length_by_hour.png
testfiles/nested_multiple_testoutput/thirdA/length_histogram.png
testfiles/nested_multiple_testoutput/thirdA/length_vs_q.png
testfiles/nested_multiple_testoutput/thirdA/q_by_hour.png
testfiles/nested_multiple_testoutput/thirdA/q_histogram.png
testfiles/nested_multiple_testoutput/thirdA/reads_per_hour.png
testfiles/nested_multiple_testoutput/thirdA/yield_by_length.png
testfiles/nested_multiple_testoutput/thirdA/yield_over_time.png
testfiles/nested_single/secondA/thirdA/channel_summary.png
testfiles/nested_single/secondA/thirdA/flowcell_overview.png
testfiles/nested_single/secondA/thirdA/gb_per_channel_overview.png
testfiles/nested_single/secondA/thirdA/length_by_hour.png
testfiles/nested_single/secondA/thirdA/length_histogram.png
testfiles/nested_single/secondA/thirdA/length_vs_q.png
testfiles/nested_single/secondA/thirdA/q_by_hour.png
testfiles/nested_single/secondA/thirdA/q_histogram.png
testfiles/nested_single/secondA/thirdA/reads_per_hour.png
testfiles/nested_single/secondA/thirdA/yield_by_length.png
testfiles/nested_single/secondA/thirdA/yield_over_time.png
testfiles/nested_single_testoutput/thirdA/channel_summary.png
testfiles/nested_single_testoutput/thirdA/flowcell_overview.png
testfiles/nested_single_testoutput/thirdA/gb_per_channel_overview.png
testfiles/nested_single_testoutput/thirdA/length_by_hour.png
testfiles/nested_single_testoutput/thirdA/length_histogram.png
testfiles/nested_single_testoutput/thirdA/length_vs_q.png
testfiles/nested_single_testoutput/thirdA/q_by_hour.png
testfiles/nested_single_testoutput/thirdA/q_histogram.png
testfiles/nested_single_testoutput/thirdA/reads_per_hour.png
testfiles/nested_single_testoutput/thirdA/yield_by_length.png
testfiles/nested_single_testoutput/thirdA/yield_over_time.png
testfiles/short_run/channel_summary.png
testfiles/short_run/gb_per_channel_overview.png
testfiles/short_run/length_by_hour.png
testfiles/short_run/length_histogram.png
testfiles/short_run/length_vs_q.png
testfiles/short_run/q_by_hour.png
testfiles/short_run/q_histogram.png
testfiles/short_run/reads_per_hour.png
testfiles/short_run/yield_by_length.png
testfiles/short_run/yield_over_time.png
testfiles/1D2/flowcell_overview.png
testfiles/1D2/gb_per_channel_overview.png
